<h1>Add a new user:</h1>

<%= form_for [@user] do |f| %>

<%= f.label :display_name %>
<%= f.text_field :display_name %>

<%= f.label :first_name %>
<%= f.text_field :first_name %>

<%= f.label :last_name %>
<%= f.text_field :last_name %>
<%= f.label :age %>
<%= f.number_field :age %>

<%= f.label :email %>
<%= f.text_field :email %>
<%= f.label :email_list, 'Yes' %>
<%= f.radio_button :email_list, 'true' %>
<%= f.label :email_list, 'No' %>
<%= f.radio_button :email_list, 'false' %>


<%= f.label :referral %>
<%= f.text_field :referral %>
<%= f.label :comments %>
<%= f.text_area(:comments, cols: 30, rows: 10)  %>






  <p><%= f.submit %></p>
<% end %>
