<%= f.label :kinky, 'Yes' %>
<%= f.radio_button :kinky, 'true' %>
<%= f.label :kinky, 'No' %>
<%= f.radio_button :kinky, 'false' %>

<%= f.label :kink_interest, 'I strongly prefer not being matched with those who identify as kinky.' %>
<%= f.radio_button :kink_interest, 1 %>
<%= f.label :kink_interest, 'I have no strong preference' %>
<%= f.radio_button :kink_interest, 2 %>
<%= f.label :kink_interest, 'I strongly prefer to be matched with those who identify as kinky.' %>
<%= f.radio_button :kink_interest, 3 %>

<h3>I identify as..</h3>
<%= f.label :kink_role, 'Top' %>
<%= f.radio_button :kink_role, 'top' %>
<%= f.label :kink_role, 'Bottom' %>
<%= f.radio_button :kink_role, 'bottom' %>
<%= f.label :kink_role, 'Switch' %>
<%= f.radio_button :kink_role, 'switch' %>
<%= f.label :kink_role, 'Unsure' %>
<%= f.radio_button :kink_role, 'unsure' %>
<%= f.label :kink_role, 'Does Not Apply' %>
<%= f.radio_button :kink_role, 'na' %>
